<?xml version='1.0' encoding='utf-8'?>
<widget id="com.beyondblissfulbakes.invoicegenerator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BBB Invoice Generator</name>
    <description>Beyond Blissful Bakes - Invoice and Order Generator</description>
    <author email="baisakhi@beyondblissfulbakes.com" href="https://www.beyondblissfulbakes.com">
        Beyond Blissful Bakes
    </author>
    
    <!-- Android preference settings -->
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="ShowTitle" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
    
    <!-- iOS preferences -->
    <preference name="deployment-target" value="13.0" />
    
    <!-- Entry point -->
    <content src="index.html" />
    
    <!-- Permission for Android -->
    <permission name="android.permission.INTERNET" />
    <permission name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- Allow access to local resources -->
    <access origin="*" />
    
    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    
    <!-- Icon and Splash Screen -->
    <icon src="res/icon.png" />
    <splash src="res/splash.png" />
</widget>
